div.task {
  background-color: antiquewhite;
  height: max-content;
  width: 23%;
  overflow-wrap: anywhere;
  padding: 4px 15px;
  margin: 7px 38%;
  border-radius: 20px;
  flex-wrap: wrap;
  float: left;
  display: flex;
  border: #a67509 2px solid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

p.delete {
  background-color: #4c00ff;
  color: white;
  height: 21px;
  width: 23px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  right: -9px;
  float: right;
}

span {
  display: block;
  width: 80%;
}
